.curve{
  display:inline-flex;
  background-color: #f00;
  border-radius: 0px 0px 50px 50px;
  width:15px;
  margin-right: 30px;
  height:40px;
  &.small{
  }
 
  &.large{
    height:80px;
    animation-name: pouring_ketchup-large;
}
animation-name: pouring-ketchup-small;
animation-duration: 5s;
animation-delay: 2s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction: alternate;
}

#ketchup {
    z-index: 5;
    height: 10px;
    background-color: #f00;
    display: flex;
  }

  @keyframes pouring-ketchup-small {
    0% {height: 40px;}
    50% {height: 80px;}
    75% {height: 60px;}
    100% {height: 80px;}
  }
  @keyframes pouring_ketchup-large {
    0% {height: 80px;}
    50% {height: 60px;}
    75% {height: 40px;}
    100% {height: 60px;}
  }